* {
  margin: 0;
  padding: 0;
}
.textbut {
  margin: 250px;
}
.t1 {
  text-align: center;
  font-size: 40px;
  color: white;
}
#btn1 {
  border-radius: 6px;
  margin-left: 90px;
  background-color: orange;
  width: 150px;
  height: 60px;
}
.project {
  color: white;
  font-family: fantasy;
  font-size: 18px;
}
#btn2 {
  border-radius: 6px;
  background-color: white;
  width: 150px;
  height: 60px;
}
.aboutus {
  color: black;
  font-family: fantasy;
  font-size: 18px;
}
.animationarea {
  background: linear-gradient(to left, #8942a8, #ba382f);
  width: 100%;
  height: 100vh;
}
.boxarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.boxarea li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}
.boxarea li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.boxarea li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.boxarea li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.boxarea li:nth-child(4) {
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.boxarea li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.boxarea li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 600;
  font-size: 3.15rem;
  height: 100%;
  width: 100%;
  line-height: 1.3;
  letter-spacing: -0.03em;
  justify-content: center;
  text-align: center;
  margin: 0;
  /* padding-top: 60px; */
}

ul {
  list-style-type: none;
  margin: 0;
  top: 0;
  border: 1px solid #e2e2e2;
  background-color: white;
  position: fixed;
  padding-top: 13px;
  padding-bottom: 15px;
  width: 100%;
  letter-spacing: 0.5px;
  padding-left: 26px;
}

ul div {
  padding-right: 70px;
  padding-top: 5px;
  float: right;
  font-size: 1rem;
  font-weight: 100;
  color: #333333;
  text-decoration: none;
}

li {
  float: left;
}

li a {
  float: left;
  color: #333333;
  text-decoration: none;
}

div li a {
  padding-left: 42px;
}

li a:hover {
  color: #ffa633;
  transition: 0.3s;
}

svg {
  margin-top: 93px;
}

.dropbtn {
  background-color: white;
  color: #333333;
  padding-left: 42px;
  font-size: inherit;
  font-family: inherit;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transition: 0.25s;
  max-height: 0;
  overflow: hidden;
  margin-top: 20px;
  padding: 5px;
  position: absolute;
  background-color: white;
  min-width: 190px;
}

.dropdown-content a {
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 145px;
  text-align: left;
}

.dropdown-content a:hover {
  color: white;
  background-color: #ffa633;
  min-width: 145px;
}

.dropdown:hover .dropdown-content {
  max-height: 200px;
}

.dropdown:hover .dropbtn {
  color: #ffa633;
}

.views i {
  display: inline;
  padding-right: 8px;
}

.grid {
  table-layout: fixed;
  border-collapse: collapse;
  height: 100px;
  width: 100%;
}
.grid td {
  height: 273px;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 1.3em;
  border: 1px solid;
  border-color: #e2e2e2;
  padding-bottom: 10px;
}

.unirow {
  table-layout: fixed;
  position: relative;
  top: 0px;
  width: 1150px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.unirow td {
  width: 10px;
}

.unirow div {
  display: inline;
}

.unirow div label {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -0.03em;
}
.unirow div p {
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  letter-spacing: 0.3px;
  line-height: 28px;
  margin-bottom: 90px;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 520px;
  z-index: -1;
  object-fit: cover;
  opacity: 0.6;
}
.image2 {
  position: absolute;
  width: 100%;
  display: block;
  top: 400px;
  left: 0px;
}

.parent {
  position: absolute;
  pointer-events: none;
}

.views a {
  animation: ease-ou;
  transition: 0.7s;
  color: #ffa633;
  padding: 5px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 10;
  letter-spacing: 0em;
}

.views a:hover {
  color: black;
  transition: 0.3s;
}

#title {
  font-size: 1.5rem;
  font-weight: 700;
}

#serv {
  padding: 40px;
}

#adv {
  padding-top: 70px;
  margin: 20px;
}

#highlight {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 2.3em;
  color: #ffa633;
}

#highlight1 {
  color: #ffa633;
  font-size: 2.9rem;
  position: relative;
}

#gridImg {
  width: 100%;
  height: auto;
  display: block;
}

/*-------------------------------------------------------------------------------------------*/

@keyframes animatetop
{
    from{top:-300px;opacity:0} 
    to{top:0px;opacity:1}
}

@keyframes animatebottom
{
    from{bottom:-300px;opacity:0} 
    to{bottom:0px;opacity:1}
}
@keyframes opacity
{
    from{opacity: 0;}
    to{opacity: 1;}
}
/*-------------------------------------------------------------------------------------------*/

/* -------- about : our team---------------------------- */
.container {

  margin-bottom: 50px;
  padding: 10;
  margin-right: -8px;
  margin-left:-7px;
  margin-top: -10px;

  background-color: whitesmoke;
}

.OURTEAM { font-size: 65px;
  font-weight: bolder;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 70px -5px;
}

.profile .profile-img {
  height: 330px;
  width: 330px;
  border-radius: 50%;

}

.user-name {
  margin-top: 20px;
  margin-bottom: 2px;
  font-size: 35px;
}


.profile h5 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 100px;
}


  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* --------------------------*------------------------------------ */
/* <!-------------------------------------------------------------------------------------->
<!------------------------------our-client-----------------------------------------------> */
.c-title{

}
.client{
  height: 500px;
  width: 100%;
  padding-bottom: 340px;
  width: 100%;
  background-image:url("Our\ Client_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  animation: animatebottom 1s;
}

.c-title{
  top: 15%;
  left: 33%;
  transform: translate(0%,290%);
  font-family: serif;
  color: #fff;
  font-size: 50px;
  
}

.content {
  background-color: #fff;
  color: #000;
  height: 150px;
  padding-top: 130px;
  position: relative;
  width: 100%;
  padding-top:150px ;
 
}


.content :before {
position: absolute;
content: " ";
width: 60%;
height: 125px;
top: -50px;
left: 0;
background: #fff;
transform: skewY(10deg);
padding-bottom: -20px;

}

.content :after {
  position: absolute;
  content: " ";
  width: 60%;
  height: 125px;
  top: -50px;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
  margin-bottom: 100px;

}


.Our-client-right
{
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-44%,1700%);
  font-family: serif;
  color: #fff;
  font-size: 50px;
}

.Our-client-left
{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-25%,1700%);
  font-family: serif;
  color: #fff;
  font-size: 50px;
}


/* --------------------------------------------------------------------------- */
/*-------------------------------------------------------------sites---------------------------------------------------------------------------------------------*/
#spandisp
{
    margin-left: 120px;
    margin-bottom: 10px;
}

#sites
{
    background-color: #434343;
    margin-left: 50%;
    margin-right: -8px;
    margin-top: -8px;
    padding-bottom: 15px;
    animation: animatebottom 1s;
    border-top: solid #434343 15px;
    border-bottom: solid #434343 1em;
}

.tooltip
{
    position: relative;
    font-size: 40px;
    color: white;
    padding: 15px;
    padding-top: 26px;
    background: solid 70px;
    border-radius: 100px;
    border: solid transparent 0px;
    margin: 30px;
    padding-bottom: 26px;
    padding-left: 28px;
    padding-right: 29px;
}

#spanface
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #434343;
    visibility: hidden;
    width: 100px;
    background-color: #434343;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    animation: animatetop 0.6s;
    margin-right: 20px;
    font-size: 19px;
}

#spantwit
{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #434343;
    visibility: hidden;
    width: 100px;
    background-color: #434343;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    animation: animatetop 0.6s;
    margin-right: 20px;
    font-size: 19px;
}

#spaninsta
{
  position: relative;
    display: inline-block;
    border-bottom: 1px dotted #434343;
    visibility: hidden;
    width: 100px;
    background-color: #434343;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    animation: animatetop 0.6s;
    margin-right: 20px;
    font-size: 19px;
}

#spandrib
{
  position: relative;
    display: inline-block;
    border-bottom: 1px dotted #434343;
    visibility: hidden;
    width: 100px;
    background-color: #434343;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    animation: animatetop 0.6s;
    margin-right: 20px;
    font-size: 19px;
}


#facebook
{
    font-size: 40px;
    color: white;
    background: solid 70px;
    border-radius: 100px;
    border: solid transparent 0px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 34px;
    padding-right: 35px;
    margin-left: 40px;
    margin-right: 15px;
    animation: animatebottom 1s;
}

#facebook:hover
{
    background-color: #2f6ae7;
    
}

#facebook:hover  #spanface
{
    visibility: visible;
}

#twitter
{
    font-size: 40px;
    color: white;
    background: solid 70px;
    border-radius: 100px;
    border: solid transparent 0px;
    padding-top: 30px;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-right: 33px;
    margin-right: 15px;
    animation: animatebottom 1s;
}

#twitter:hover
{
    background-color: #00acee;  
}

#twitter:hover #spantwit
{
    visibility: visible;
}

#instagram
{
    font-size: 40px;
    color: white;
    background: solid 70px;
    border-radius: 100px;
    border: solid transparent 0px;
    padding-top: 30px;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-right: 33px;
    margin-right: 15px;
    animation: animatebottom 1s;
}

#instagram:hover
{
    background:linear-gradient(to top right , #f09433 5%,#e6683c 30%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-position-y: inherit;
}

#instagram:hover #spaninsta
{
    visibility: visible;
}

#dribbble
{
    font-size: 40px;
    color: white;
    background: solid 70px;
    border-radius: 100px;
    border: solid transparent 0px;
    padding-top: 30px;
    padding-bottom: 33px;
    padding-left: 32px;
    padding-right: 33px;
    margin-right: 15px;
    animation: animatebottom 1s;
}

#dribbble:hover
{
    background-color: #ea4c89;
}

#dribbble:hover #spandrib
{
    visibility: visible;
}
/*----------------------------------------------------------------------------contact us-------------------------------------------------------------------------*/
#downpart
{
    background-image:url("shutterstock_158522279.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding :2%;
    border: none;
    margin: none;
    padding-bottom: 3.1%;
    margin: none;
    animation: animatebottom 1s;
}

#contlog
{
    color: #ffffff;
    font-family: 'Noto Sans',sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-left: 30%;
    margin-right: 20%;
    line-height: 28px;
    opacity: 1;
    display: flex;
    animation: animatebottom 1s;
}

#actolog
{
    font-family: 'Noto Sans',sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 20%;
    line-height: 28px;
    color: rgb(253, 122, 0);
    opacity: 1;
    animation: animatebottom 1s;
    background: transparent;
}

#textlayer
{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 170px;
    margin-right: 2px;
}

.text
{
    display: flex;
}

.para
{
    width: 50%;
}

#para
{
  color: #ffffff;
  font-family: 'Noto Sans',sans-serif;
  font-size: 21px;
  font-weight: 400;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  line-height: 28px;
  opacity: 1;
}

#teleph
{
    color: #ffffff;
    background: orange;
    padding: 5px;
    border: solid orange 8px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 0%;
    margin-right: 10%;
    line-height: 28px;
    border-radius: 30px;
}

#tele
{
  font-family: 'Noto Sans',sans-serif;
  color: white;
  font-size: 26px;
  font-weight: 400;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 120px;
  line-height: 28px;
  opacity: 1;
}

#memail
{
    color: #ffffff;
    background: orange;
    padding: 3px;
    border: solid orange 8px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 2px;
    margin-left: 0%;
    margin-right: 6%;
    line-height: 28px;
    border-radius: 30px;
}

#mymail
{
  font-family: 'Noto Sans',sans-serif;
  color: white;
  font-size: 26px;
  font-weight: 400;
  margin-left: 13%;
  margin-right: 18%;
  margin-top: 18px;
  line-height: 27px;
  opacity: 1;
}
/* ------------------------------------------------------------- */
/* --------------------------counter----------------------------------- */



.counter {
font-size: 60px;
margin-top: 10px;
}

.l-column {
  float: left;
  width: 23.5%;
  padding: 10px;
  height: 250px;  
  background-color: #F1B95C;
  color: white;
  padding-top: 65px;
  padding-bottom: -70px;
  background-attachment: fixed;

  margin-top: -326px;

  margin-right: 10px;
  margin-left: 0  px;
}
.ll-column {
  float:right;
  width: 23.5%;
  padding: 10px;
  height: 250px;  
  background-color:#F3A247;
  color: white;

  padding-top: 65px;
  padding-bottom: -70px;
  background-attachment: fixed;
  margin-top: -326px;
  margin-right: 612px;
  margin-left: -40px;
}

  .l-row:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 90px;

}
.text-counter{
  font-weight: normal;
  font-size: 44px
}


/* ------------------------------------------------------------- */
/*-----------------------------------------------------------------------msg form----------------------------------------------------------------------------*/
#contact
{
    width: 50%;
    margin-top: 70px;
    margin-left: 20px;
}

.fdb
{
    display: flex;
}


#feedb
{
    background: #ffffff; 
    border-radius:10px;
    line-height: 2;
    padding-right: 0px;
    width: 228px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border: solid transparent 2px;
    display: flex;
    height: 40px;
    animation: animatebottom 1s;
}

#feed
{
    background: #ffffff; 
    border-radius:10px;
    line-height: 2;
    padding-right: 0px;
    width: 228px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border: solid transparent 2px;
    display: flex;
    height: 40px;
    animation: animatebottom 1s;
}

#feedback
{
    background: #ffffff; 
    border-radius:10px;
    line-height: 2;
    width: 454px;
    border: solid transparent 2px;
    animation: animatebottom 1s;

}

#user
{
    
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 20px;
    padding-left: 2%;
}

#name
{
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 18px;
    padding-left: 3%;
    border: transparent;
    width: 187px;
    width: 200px;
    height: 40px;
}

#at
{
    
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 20px;
    padding-right: 0%;
    margin-left: 2px;
}

#mail
{
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 18px;
    padding-left: 3%;
    border: transparent;
    width: 187px;
    width: 200px;
    height: 40px;
}

#pen
{
    
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 20px;
    padding-right: 0%;
    margin-left: 2px;
}

#msg
{
    display: inline-block;
    line-height: 2;
    font-family: "fontawesome";
    font-weight: 400;
    background: #ffffff;
    font-size: 18px;
    padding-left: 3%;
    border: transparent;
    padding-right: 48%;
    padding-bottom: 14%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#submit
{
    font-family: 'Alata',sans-serif;
    background: rgb(255, 180, 40);
    color: #ffffff;
    font-size: 20px;
    border: solid rgb(255, 180, 40) 15px;
    border-radius: 4px;
    animation: animatebottom 1s;
}
/*--------------------------------------------------------------------------shape--------------------------------------------------------------------------------*/
.tri
{
    display: flex;
    width: 150px;
}
.tright
{
  width: 0%;
  height: 0%;
  border-left: 820px solid transparent;
  border-bottom: 150px solid rgb(250, 250, 250);
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: -47px;
  animation: animatebottom 1s;
}
.tleft
{    
  width: 0%;
  height: 0%;
  border-right: 750px solid transparent;
  border-bottom: 150px solid rgb(250, 250, 250);
  margin-left: -30px;
  margin-right: 0px;
  margin-bottom: -47px;
  animation: animatebottom 1s;
}

/*commented html svg shape*/
#shape
{
    overflow: hidden;
    left: 0;
    right: 0;
    height: 15vh;
    color: #fff;
    width: 929.85;
}

/*------------------------------------------------------------footer----------------------------------------------------------------------------------------*/
#footer
{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ffffff;
    color: #a0a0a0;
}
#footerbtn
{
    background-color: #ffffff;
    color: #505050;
}
#footerbtn:hover
{
    color: orange;
    animation: animatebottom 0.4s;
}
